html{
    --bg-page: beige;
    --fg: #222;
    --fg-subtle: teal;
    --bg-dark:lightblue;
}

#honksonpage td {
    border:1px solid #222;
    padding: 0.2em;
}

#altnavbar a {
    text-decoration:none
}
#altnavbar{
	margin-left:17%;
	position:fixed;
	background:var(--bg-page);
	opacity:0.7;
	top:0;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

#altnavbar input {
    height:0.3em;
}


#setlang{
    vertical-align:middle;
    display:inline;
    margin-left:2em;
}

@media screen and (max-width: 740px) {
    #altnavbar{
        font-size:0.9em;
        margin-left:30%;
    }

    #altnavbar input {
        height:0.3em;
        width:4em
    }
    
    header > details {
	    padding: 0.5em 0.5em 0.5em 0.5em;
    }
    
    #setlang {
        display:block;
    }
}

@media print{
    #altnavbar,#setlang{display:none;}
}
