<!doctype html>
<html>
<head>
	<link rel="shortcut icon" href="/favicon.ico"/>
<title>honk</title>
<link href="/style.css{{ .StyleParam }}" rel="stylesheet">
{{ if .LocalStyleParam }}
<link href="/local.css{{ .LocalStyleParam }}" rel="stylesheet">
{{ end }}
<style>
{{ .UserStyle }}
</style>
<link href="/icon.png" rel="icon">
<meta name="theme-color" content="#305">
<meta name="viewport" content="width=device-width">
<meta name="description" content="Federated ActivityPub instance running the Honk server. things happen">
<meta name="keywords" content="honk">
</head>
<body>
<header>
{{ if .UserInfo }}
<details id="topmenu">
	<summary>menu <span> {{ .UserInfo.Username }}</span></summary>
<ul>
<li><a id="homelink" href="/">accueil</a>
<li><a id="atmelink" href="/atme">@moi</a>
<li><a id="firstlink" href="/first">premier</a>
<li style="list-style-type:none; margin-left:-1em">
<details>
<summary>combos</summary>
<ul>
{{ range .Combos }}
<li><a class="combolink" href="/c/{{ . }}">{{ . }}</a>
{{ end }}
</ul>
</details>
<li><a href="/chatter">discutaille</a>
<li><a href="/o">balises</a>
<li><a href="/events">moments</a>
<li><a id="longagolink" href="/longago">il y a un temps</a>
<li><a id="savedlink" href="/saved">sauvegardés</a>
<li><a href="/honkers">honkers</a>
<li><a href="/hfcs">filtres</a>
<li><a href="/account">mon compte</a>
<li style="list-style-type:none; margin-left:-1em">
<details>
<summary>plus de choses</summary>
<ul>
<li><a href="/{{ .UserSep }}/{{ .UserInfo.Username }}">my honks</a>
<li><a href="/about">à propos</a>
<li><a href="/front">tout</a>
<li><a href="/funzone">funzone</a>
<li><a href="/xzone">xzone</a>
</ul>
</details>
<li><a href="/help/honk.1.html">aide</a>
<li>
<form action="/q" method="GET">
<input type="text" name="q" autocomplete=off size=10
placeholder="rechercher">
</form>
</ul>
</details>
	
<!-- CUSTOM HONK NAVIGATION BAR -->
	<div  id="altnavbar">
		<a href="/newhonk" tabindex="2">🎺</a> |
		<a href="/front">front</a> | 
		<a href="/">accueil</a> | 
		<a href="/xzone">récup</a> | 
		<a href="/atme">@moi</a> | 
		<a href="/u/{{ .UserInfo.Username}}">profil</a> | 
		<a href="/account">⚙️</a> |
		<form style="display:inline" action="/q" method="GET">
		    <input type="text" tabindex="1" name="q" autocomplete="off"
            size="10" placeholder="rechercher">
		</form> 
	</div>
<!-- END -->

<p id="topspacer"></p>
{{ else }}
<span><a id="homelink" href="/">accueil</a></span>
<span><a href="/o">balises</a></span>
<span><a href="/events">moments</a></span>
<span><a href="/about">à propos</a></span>
{{ if .ShowRSS }}
<span><a href="/rss">rss</a></span>
{{ end }}
<span><a href="/login">login</a></span>
{{ end }}
</header>
