<!doctype html>
<html lang="{{ .Lang }}">
<head>
	<link rel="shortcut icon" href="/favicon.ico"/>
<title>honk</title>
<link href="/style.css{{ .StyleParam }}" rel="stylesheet">
{{ if .LocalStyleParam }}
<link href="/local.css{{ .LocalStyleParam }}" rel="stylesheet">
{{ end }}
<style>
{{ .UserStyle }}
</style>
<link href="/icon.png" rel="icon">
<meta name="theme-color" content="#305">
<meta name="viewport" content="width=device-width">
<meta name="description" content="Federated ActivityPub instance running the Honk server. things happen">
<meta name="keywords" content="honk">
</head>
<body>
<header>
{{ if .UserInfo }}
<details id="topmenu">
	<summary>menu <span> {{ .UserInfo.Username }}</span></summary>
<ul>
<li><a id="homelink" href="/">{{ .i18n.Home }}</a>
<li><a id="atmelink" href="/atme">{{ .i18n.Atme }}</a>
<li><a id="firstlink" href="/first">{{ .i18n.First }}</a>
<li style="list-style-type:none; margin-left:-1em">
<details>
<summary>{{ .i18n.Combos }}</summary>
<ul>
{{ range .Combos }}
<li><a class="combolink" href="/c/{{ . }}">{{ . }}</a>
{{ end }}
</ul>
</details>
<li><a href="/chatter">{{ .i18n.Chatter }}</a>
<li><a href="/o">{{ .i18n.Tags }}</a>
<li><a href="/events">{{ .i18n.Events }}</a>
<li><a id="longagolink" href="/longago">{{ .i18n.Longago }}</a>
<li><a id="savedlink" href="/saved">{{ .i18n.Saved }}</a>
<li><a href="/honkers">{{ .i18n.Honkers }}</a>
<li><a href="/hfcs">{{ .i18n.Hcfs }}</a>
<li><a href="/account">{{ .i18n.Account }}</a>
<li style="list-style-type:none; margin-left:-1em">
<details>
<summary>{{ .i18n.Morestuff }}</summary>
<ul>
<li><a href="/{{ .UserSep }}/{{ .UserInfo.Username }}">{{ .i18n.Myhonks }}</a>
<li><a href="/about">{{ .i18n.About }}</a>
<li><a href="/front">{{ .i18n.Front }}</a>
<li><a href="/funzone">{{ .i18n.Funzone }}</a>
<li><a href="/xzone">{{ .i18n.Xzone }}</a>
</ul>
</details>
<li><a href="/help/honk.1.html">{{ .i18n.Help }}</a>
<li>
<form action="/q" method="GET">
<input type="text" name="q" autocomplete=off size=10 placeholder="{{ .i18n.Search }}">
</form>
</ul>
</details>
	
<!-- CUSTOM HONK NAVIGATION BAR -->
	<div  id="altnavbar">
		<a href="/newhonk" tabindex="2">{{ .i18n.Newhonk }}</a> |
		<a href="/front">{{ .i18n.Front }}</a> | 
		<a href="/">{{ .i18n.Home }}</a> | 
		<a href="/xzone">{{ .i18n.Xzone }}</a> | 
		<a href="/atme">{{ .i18n.Atme }}</a> | 
		<a href="/u/{{ .UserInfo.Username}}">{{ .i18n.Myhonks }}</a> | 
		<a href="/account">{{ .i18n.Account }}</a> |
		<form style="display:inline" action="/q" method="GET">
		    <input type="text" tabindex="1" name="q" autocomplete="off"
            size="10" placeholder="{{ .i18n.Search }}">
		</form> 
	</div>
<!-- END -->

<p id="topspacer"></p>
{{ else }}
<span><a id="homelink" href="/">{{ .i18n.Home }}</a></span>
<span><a href="/o">{{ .i18n.Tags }}</a></span>
<span><a href="/events">{{ .i18n.Events }}</a></span>
<span><a href="/about">{{ .i18n.About }}</a></span>
{{ if .ShowRSS }}
<span><a href="/rss">rss</a></span>
{{ end }}
<span><a href="/login">{{ .i18n.Login }}</a>
<form style="display:inline" action="/langcookie" method="POST">
<select name="lang">
    <option {{ and (eq .Lang "en") "selected"}}>en</option>
    <option {{ and (eq .Lang "fr") "selected"}}>fr</option>
</select>
<button>{{ .i18n.SetLang }}</button>
</form>

</span>
{{ end }}
</header>
